.ItemsDisplay {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 20px;
  padding: 20px;
  text-align: center;
}

.EmptyStore {
  position: relative;
  color: grey;
  text-align: center;
  font: bold 1.2em verdana;
  font-style: italic;
}

.Buttons {
  text-align: center;
  display: flex;
  justify-content: start;
}
