.Main {
  position: relative;
  width: 100%;
  margin-top: 80px;
  background-color: rgb(235, 226, 226);
}

.ProductSection {
  width: 100%;
}

.Spinner {
  position: absolute;
  left: 50%;
  top: 50%;
}

.Main .Error {
  text-align: center;
  font-size: 1.2em;
  position: relative;
  top: 20vh;
}

@media (min-width: 900px) {
  .ProductSection {
    margin-top: 21px;
    width: 75%;
    margin-left: auto;
  }
}
