.Dashboard {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.Dashboard .Section {
  padding: 10px;
  width: 46%;
  margin: 20px auto;
  background-color: white;
}

.Dashboard .Section .Items {
  position: relative;
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  grid-gap: 10px;
}

.Dashboard h1 {
  text-align: center;
  color: #f06;
  margin-top: 5px;
  background-color: rgba(221, 145, 175, 0.856);
  padding-top: 10px;
  padding-bottom: 10px;
}

.Trans {
  margin: auto;
  margin-top: 20px;
  font-size: 0.88em;
}

.EmptyStore {
  position: relative;
  color: grey;
  text-align: center;
  font: bold 1.2em verdana;
  font-style: italic;
}

@media (max-width: 999px) {
  .Dashboard .Section {
    width: 95%;
  }
}
