.NestedInput {
  padding: 15px;
}

.NestedInput em {
  font-size: 1.1em;
  color: #f06;
}

.NestedInput div {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.NestedInput input {
  margin: auto 5px;
}
