.ProductPage {
  text-align: center;
  margin-top: 3em;
}

.ProductPage table thead {
  color: #f06;
}

.ProductPage table tbody tr td:first-child {
  color: #f06;
  font-weight: 600;
  text-align: right;
}

.ProductPage table tbody tr td:last-child {
  text-align: left;
  padding-left: 3em;
  font-style: oblique;
}

.ProductPage .Table {
  position: relative;
  top: 4em;
  border: 1px solid grey;
  margin-top: 8em;
  width: 90%;
  height: 95vh;
  margin: auto;
  box-shadow: 2px -2px 5px grey, -2px 2px 5px grey;
}

.ProductPage .ItemImage {
  width: 150px;
  height: 120px;
}

@media (min-height: 850px) {
  .ProductPage .Table {
    height: 50vh;
  }
}
@media (max-width: 450px) {
  .ProductPage .Table {
    width: 95vw;
  }
}
